html {
    background: url('./Creme_browserbg.jpg') repeat 0 0 scroll;
    background-color:#0C0C0C;
    height:100%;
    width:100%;
}

#wrap {
	width : 800px;
	border : 1px solid rgba(255, 255, 255, 0.5);
	margin: 0 auto;
}

